body {
  background-color: #232323;
  margin: 0;
  font-family: "Monserrat", "Avenir";
}
h1 {
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
  transition: all 0.3s;
}
button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: inherit;
  color: steelblue;
  transition: all 0.3s;
}
button:hover {
  background-color: steelblue;
  color: white;
}
#message {
  display: inline-block;
  width: 20%;
}
#colorDisplay {
  font-size: 200%;
}
.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.6%;
  border-radius: 20%;
  transition: all 0.3s;
}
.selected {
  background-color: steelblue;
  color: white;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}
#linea {
  background-color: white;
  height: 27px;
  text-align: center;
}
@media (max-width: 650px) {
  .title {
    font-size: x-large;
  }
  .buttons {
    font-size: 12px;
  }
  #linea {
    height: 21px;
  }
}

@media (max-width: 295px) {
  .title {
    font-size: medium;
  }
  .buttons {
    font-size: 10px;
  }
  #linea {
    height: 18px;
  }
}
